* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #2a2a2a;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

.Logo {
  display: inline;
  color: white;
  margin-right: 15px;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#NBALogo {
  max-height: auto;
  max-width: 4%;
}

.blueButton {
  background-color: #00438c;
  display: inline-block;
  color: white;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.redButton {
  background-color: #da1a32;
  display: inline-block;
  color: white;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.mainImage {
  max-width: 500px;
  max-height: auto;
  margin-bottom: 25px;
}

.red-text-box {
  background-color: #da1a32;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
}

.blue-text-box {
  background-color: #00438c;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
}

.text {
  display: inline;
  line-height: 1.5;
  color: white;
}

h1 {
  color: white;
}

h2 {
  display: inline;
  color: #00438c;
}

.exampleBox {
  display: inline-block;
  width: 45%;
  height: auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
