* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #2a2a2a;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 25px;
  margin-bottom: 25px;
}

#NBALogo {
  max-height: auto;
  max-width: 40px;
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
}

.blueButton {
  background-color: #00438c;
  color: white;

  padding-left: 10px;
  padding-right: 10px;
}

.redButton {
  background-color: #da1a32;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.image-box {
  display: flex;
  justify-content: center;
}
.mainImage {
  max-width: 700px;
  max-height: auto;
  margin-bottom: 25px;
  border-radius: 30px;
}

.red-text-box {
  background-color: #da1a32;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.blue-text-box {
  background-color: #00438c;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.text {
  display: inline;
  line-height: 1.5;
  color: white;
}

h1 {
  color: white;
}

h2 {
  display: inline;
  color: #00438c;
}

.examples {
  display: flex;
  justify-content: space-evenly;
}

.exampleBox {
  width: 40%;
  height: auto;
}

img {
  height: auto;
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}
